body {
	font-family: Sans-Serif;
}

thead {
	font-weight: bold;
}

#header {
	text-align: center;
}

.column {
  float: left;
  padding: 10px;
}

#filter {
	width: 15%;
}

#graph {
	width: 35%;
}

#table {
	width: 20%;
}

#details {
	width: 20%;
}

#region {
	width: 100%;
}

#admission-rate {
	width: 100%;
}

#cost {
	width: 100%;
}

.selected-brush {
	/* fill: red;
	stroke: red; */
}

#table {
    overflow: scroll;
    height: 500px;
}

.tooltip {
	position: absolute;
	font-size: 10px;
	pointer-events: none;
  }

.text {
    font-size: 10px;
}